$default-color: #404040;
$success-color: #72944a;
$error-color: #9b3437;

.tile {
    display: inline-block;
    border: 0 none;
    border-right: solid 1px #fff;
    border-bottom: solid 1px #fff;
    cursor: pointer;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: $default-color;

    &.tile-playable {
        background-color: #e96827;
    }

    &.tile-played {
        transition: background-color 0.3s ease;
        background-color: $success-color;

        &.tile-hidden {
            background-color: $success-color;
        }
    }

    &.tile-hidden {
        transition: background-color 0.3s ease;
        background-color: $default-color;
    }

    &.tile-error {
        background-color: $error-color;
    }

    &:focus {
        outline:0;
    }
}
