.board {
    font-family: sans-serif;
    height: 100%;
    margin: 0 auto;

    @media screen and (min-width:600px) {
        width: 500px;
    }
    @media screen and (max-width:599px) {
        width: 100%;
    }

    .help-block {
        text-align: center;
        color: #666;
    }

    .help-go {
        text-align: center;
        font-size: 18px;
    }
}
